.report-item-modal-overlay{
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0;
}
.report-item-modal{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
  padding: 40px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  animation: modalFadeIn 0.4s ease-out;
  scrollbar-width: thin;
}

.report-item-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.report-item-close-btn{
  background-color: blue;
  position: absolute;
  transform: translateX(340px);
  margin-bottom: 95px;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}
.report-item-modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.report-item-modal-header h2{
  font-size: 1.5rem;
  color: #34495e;
  font-weight: 600;
}
.report-item-form-group input[type="text"],
.report-item-form-group input[type="email"],
.report-item-form-group input[type="tel"],
.report-item-form-group input[type="date"],
.report-item-form-group select,
.report-item-form-group textarea {
  width: 100%;
  font-size: 10px;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 13px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #2c3e50;
}
.report-item-file-input {
  padding: 20px 60px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f8ff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.report-item-image-preview {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.report-item-form-group label{
  font-size: 13px;
}

.report-item-cancel-btn,
.report-item-submit-btn {
  padding: 8px 35px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 0.5px;
}

.report-item-cancel-btn {
  background-color: #f0f2f5;
  color: #34495e;
  font-size: 13px;
  border: 2px solid #cbd5e0;
}

.report-item-submit-btn {
  background: linear-gradient( #3498db, #2980b9);
  font-size: 13px;
  color: white;
  border: none;
}

.report-item-form-actions{
  display: flex;
  gap: 27px;
}